
.navArrow {
  font-family: BioRhyme;
  background-color: powderblue;
  width: 200px;
  font-size: 1.25em;
  text-align: center;
  padding: 10px;
  margin: .5em 3em;
  height: 30px;
  border-radius: 3px;
}
