body {
  margin: 0;
  font-family: "Roboto Slab", "Fira Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Shrikhand";
  font-style: normal;
}

.hello {
  font-family: "BioRhyme";
  font-weight: bold;
}

code {
  font-family: PT Mono, source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
